
/*-----------
    GENERAL
-------------*/
.ms-wrapper{
    height: calc(100vh - 80px);
}



/*----------
    HEADER
------------*/

header{
    height: 80px;
}

header .ms-logo-mobile{
    max-height: 60px;
}

.ms-search-custom{
    border: none;
    width: 100%;
}

/*----------
    ASIDE
------------*/

aside{
    height: 100%;
    flex-shrink: 0;
    background-image: url(./img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #051E34;
    
}

/*----------
    COLORS
----------- */

.ms-bg-grey{
    background-color: #E5E5E5;
}

.ms-color-yellow{
    color: #FF8F00;
}

/*---------------
    RESPONSIVE
-----------------*/

@media screen and (min-width: 0px){
    .ms-wrapper aside{
        min-width: 100px;
    }
    
}

@media screen and (min-width: 576px){
    
    
}

@media screen and (min-width: 768px){
   
}


@media screen and (min-width: 992px){
   
    .ms-wrapper aside{
        max-width: 175px;
    }
}

@media screen and (min-width: 1200px){
    
    .ms-wrapper aside{
        max-width: 175px;
    }
}

@media screen and (min-width: 1400px){
    
    
    
}

