
/*----------
    HEADER
------------*/

header .ms-logo-mobile{
    max-height: 60px;
}

.ms-search-custom{
    border: none;
    width: 100%;
}

/*----------
    ASIDE
------------*/

aside{
    width: 300px;
    flex-shrink: 0;
    background-color: #000000;
    
}

/*----------
    COLORS
----------- */

.ms-bg-grey{
    background-color: #E5E5E5;
}

.ms-color-yellow{
    color: #FF8F00;
}
